<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aslan Balığı Tespiti</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
        }
        #alert {
            font-size: 24px;
            color: red;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h1>Aslan Balığı Tespiti</h1>
    <p>Tespit Edilen Aslan Balığı Sayısı: <span id="num-fish">0</span></p>
    <div id="alert"></div>

    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script src="../static/js/main.js"></script>
</body>
</html>
